@font-face {
  font-family: 'Roboto';
  src: url(font/Roboto-Thin-webfont.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }
  
  .menu {
    width: 1200px;
    display: flex;
    justify-content: space-around;
  }
  .menu li{
    float: left;
    list-style: none;
  }
  .menu li:hover{
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .grid {
    width: 1200px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;    
  }
  
  .item {
    border: 1px solid #fff;
    width: 45%;
    background-color: red;
    padding: 20px;
    text-align: justify;
    line-height: 1.4;
    margin-left: 20px;
  } 

  h2, h3{
    text-align: center;
  }
 